/* Use always white background. */
body {
  background: white;
  color: black;
  font-family: monospace;
}

table {
  border-collapse: collapse;
}

/* Show hyperlinks without text decoration, but in light yellow. */
a:link,
a:visited,
a:active {
  background: lightyellow;
  text-decoration: none;
}

/* Line numbers */
.line-numbers {
  border-right: 1px solid grey;
  color: grey;
  min-width: 5ch;
  padding-right: 1em;
  text-align: right;
}

/* Source code */
.source-code {
  padding-left: 1em;
}

/* Code highlighting */
.pragma  { color: green     }
.comment { color: green     }
.keyword { color: blue      }
.symbol  { color: red       }
.type    { color: orange    }
.cons    { color: magenta   }
.label   { color: darkgreen }
.func    { color: purple    }
.ident   { color: black     }
.module  { color: brown     }
.number  { color: teal      }
.string  { color: maroon    }
.char    { color: maroon    }
